<p id="notice"><%= notice %></p>
<br>

<div class="columns">
<div class="column is-1"></div>
<div class="column is-5">
  <h1 class="title is-4">Booking Information</h1>
  <div>
    <%= @flight.flight_info %>
  
    <div>
      <% @booking.passengers.each_with_index do |p,i|%>
        <div>
         <%="Passenger ##{i+=1}: #{p.name}"%>
        </div>
      <%end%>
    </div>
  </div>
</div>
</div>
